# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# VC++
Debug
Release
*.aps
*.exe
*ipch
*.lastbuildstate
*.log
*.obj
*.pch
*.pdb
*.res
*.sdf
*.tlog
*.user
*.suo
/src/CubeAdventures.opensdf
/src/CubeAdventures/SDL.dll
/src/CubeAdventures/SDL_image.dll
/src/CubeAdventures/SDL_mixer.dll
/src/CubeAdventures/SDL_ttf.dll
/src/CubeAdventures/glut32.dll
/src/CubeAdventures/jpeg.dll
/src/CubeAdventures/libfreetype-6.dll
/src/CubeAdventures/libogg-0.dll
/src/CubeAdventures/libpng12-0.dll
/src/CubeAdventures/libtiff-3.dll
/src/CubeAdventures/libvorbis-0.dll
/src/CubeAdventures/libvorbisfile-3.dll
/src/CubeAdventures/mikmod.dll
/src/CubeAdventures/smpeg.dll
/src/CubeAdventures/zlib1.dll
